<h1 style="color:#DC3D24"><%= @contact.name() %></h1>


<% @contact.phone().each do |phone_object| %>
<ul class="list-unstyled">
  <% if phone_object.number != "" %>
    <h3><%= phone_object.type().upcase() %></lh>
    <li><h4><%= phone_object.number() %></h4></li>
    <br>
  <% end %>
</ul>
<% end %>

<h3>Add another number for this contact</h3>
<form action="/contact_added" method="post">
  <input id="contact_name" name="contact_name" type='hidden' value='<%= @contact.name() %>' >

  <label for="number">Number: </label>
  <input id="number" name="number" type="text" placeholer="555-555-5555">

  <label for="type">Type:</label>
  <input for="type" name="type" type="text" placeholder="mobile">

  <button type="submit">Add Number</button>
</form>
<a href='/' class="btn btn-primary btn-lg active" role="button">Back to Contacts</a>
